body{
	margin: 0;
		font-family: Helvetica, Arial, sans-serif;
}
header{
	background-color: MediumSlateBlue;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
h1, h2{
	font-family: 'Pacifico', cursive;
}
header h1{
	color: white;
	font-size: 50px;
}
header img{
	border-radius: 160px;
    width: 300px;
    border: 15px solid lightskyblue;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px 20px 100px;
}

main img{
	max-width: 100%;
}